* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: white;
    overflow-x: hidden;
    /* taşan alanları gizle*/
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    padding: .7rem 3rem;
    color: black;
    cursor: pointer;
    margin-top: 24rem;
    font-size: 2rem;
    width: 25rem;
    height: 7rem;
    border-radius: 5rem;
    background-color: #2FA4FF;
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;

}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #2FA4FF;
    color: white;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* en öne almak icin */
    height: 100%;
    width: 35rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    border-right: 1px solid #2FA4FF;
}

header .user {
    margin-top: 3rem;
}

header .user img {
    /* Burayi yapinca resim daireye girdi*/
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    /*  içerik kutusuna nesneyi en/boy oranını koruyarak, mümkün olduğunca uzatarak veya mümkün olduğunca fazla yer kaplayacak şekilde yerleştirmeyi sağlar*/
    margin-bottom: 1rem;
    border: .7rem solid #2FA4FF;
    ;
}

header .user .name {
    font-size: 3.5rem;
    color: black;
}

header .navbar {
    margin-top: -1rem;
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    /*Burayi yapinca navbarlar guzel gozuktu*/
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #2FA4FF;
    color: black;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background-color: #9ADCFF;
}

header .user a i {
    color: black;
    margin-top: 1rem;
    margin-right: 1rem;
}

header .user .post {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #2FA4FF;
    ;
    color: black;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin-top: -10rem;
    padding: 0 15 rem;
}

#w {
    background-color: white;
    color: black;
}

.home h1 {
    font-size: 5rem;
    color: #2FA4FF;
    margin-top: 20rem;
}

.home p {
    font-size: 2rem;
    color: black;
    padding: 1rem 3rem;
    text-transform: none;
}

.home a {
    display: flex;
    justify-content: center;

}

.home a .btn:hover {
    background-color: #9ADCFF;
}

.skill {
    margin-top: 10rem;
}

.skill .row {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.skill .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
    color: black;

}

.skill h1 {
    color: #2FA4FF;
}

.skill .row .info h3 {
    font-size: 3rem;
    color: black;
    padding: 1rem 0;
    font-weight: normal;

}

.skill .row .info h3 i {
    color: #2FA4FF;
}

.education .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #2FA4FF;
    position: relative;
}

.education .box-container .box span {
    font-size: 1.3rem;
    background: #2FA4FF;
    color: black;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 2rem;
    color: black;
    padding-top: 1.5rem;
}

.education .box-container .box h4 {
    font-size: 1.5rem;
    color: black;
    padding-top: 1.5rem;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: black;
    background-color: #2FA4FF;
}

.experience .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.experience .box-container .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #2FA4FF;
    position: relative;
    margin-top: 20px;
}

.experience .box-container .box p {
    color: black;
    text-transform: none;
    font-size: large;
}

.experience .box-container .box span {
    font-size: 1.3rem;
    background: #2FA4FF;
    color: black;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.experience .box-container .box h3 {
    font-size: 2rem;
    color: black;
    padding-top: 1.5rem;
}

.experience .box-container .box h2 {
    font-size: 4rem;
    color: black;
    padding-top: 1.5rem;
}

.experience .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: black;
    background-color: #2FA4FF;
    ;
}

.language .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.language .box-container .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #2FA4FF;
    position: relative;
}

.language .box-container .box span {
    font-size: 1.3rem;
    background: #2FA4FF;
    ;
    color: black;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.language .box-container .box h3 {
    font-size: 2rem;
    color: black;
    padding-top: 1.5rem;
}

.language .box-container .box h2 {
    font-size: 4rem;
    color: black;
    padding-top: 1.5rem;
}

.language .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: black;
    background-color: #2FA4FF;
}

.contact h1 {
    color: #2FA4FF;

}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row .form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    padding-bottom: 0;
}

.contact .row form .box {
    padding: 1rem;
    margin: 1rem 0;
    background-color: white;
    ;
    color: black;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;

}

.contact .row form .box {
    margin-left: 4rem;
    border: 2px solid #2FA4FF;
    ;
    border-radius: 5px;
    width: 70rem;
}

.contact .row form .message {
    height: 8rem;
    resize: none;
}

.contact .row .content .title {
    color: #2FA4FF;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: black;
    padding: 1rem 0;
    font-weight: normal;
    text-transform: none;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: #2FA4FF;

}

.contact .row .btn {
    display: inline-block;
    margin: 0;
    margin-left: 25rem;

}


@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }
}

@media (max-width:991px) {
    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.toggle {
        left: 0%;
    }

    body {
        padding: 0;
    }

}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }

}

@media (max-width:400px) {
    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .education .box-container .box {
        width: 100%;
    }

    .experience .box-container .box {
        width: 100%;
    }

    .language .box-container .box {
        width: 100%;
    }

    .contact .rıw form {
        margin: 3rem 0;
    }

}
